table tr td {
  width: 15px;
  height: 15px;
  border: 1px solid black;
}
table td:hover {
  background-color: chocolate;
}
.inicio {
  background-color: red;
}

.obstaculo {
  background-color: black;
}

.agua {
  background-color: blue;
}

.pasto {
  background-color: green;
}
.libre {
  background-color: white;
}
.final {
  background-color: #ff9933;
}
